<nav class="navbar navbar-expand-md bg-harca navbar-dark shadow-sm" id="urec_navmenu">
  <div class="container">
    <a class="navbar-brand" href="/home/">KuBeat</span></a>
    <div class="ms-auto">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#top_navbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="top_navbar">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item"><a class="nav-link" aria-current="page" href="https://harca.dojin.com/mypage">マイページ(工事中)</a></li>
        <li class="nav-item"><a class="nav-link" aria-current="page" href="https://harca.dojin.com/ranking">ランキング(工事中)</a></li>
        <li class="nav-item"><a class="nav-link" aria-current="page" href="https://harca.dojin.com/help/">ヘルプ(工事中)</a></li>
        <li class="nav-item"><a class="nav-link" aria-current="page" href="/timeline/">Tw⚪︎tter</a></li>
        <li class="nav-item"><a class="nav-link" aria-current="page" href="/gameplay/">game</a></li>
        <li class="nav-item"> <a class="nav-link" aria-current="page" href="https://harca.dojin.com/mypage/login.php">ログイン(工事中)</a></li>
        <li class="nav-item"> <a class="nav-link" aria-current="page" href="https://harca.dojin.com/sign-up/index.html">サインアップ(工事中)</a></li>
      </ui>
    </div>
  </div>
</nav>